---
export interface Props {
	title: string;
	body: string;
	href: string;
	date: string;
}

import PostDate from './PostDate.astro';

const { href, title, body, date } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<h2>
			<PostDate dateString={date}></PostDate> -{" "}
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;
		display: flex;
		padding: 0.15rem;
		background-color: white;
		border-radius: 0.5rem;
		margin-bottom: 1rem;
		border: solid 2px #eee;
	}

	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: 1rem 1.3rem;
		border-radius: 0.35rem;
		color: #111;
		opacity: 0.8;
	}	

	.link-card:hover {
		border-color: #666;
	}
	
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #444;
	}

</style>
